<?xml version="1.0" encoding="utf-8"?>

<!--
    FOSS eMusic - a free eMusic app for Android - 
    https://launchpad.net/emusicdownloader.
    This application is not associated with eMusic.com in any way.  
    
    Copyright (C) 2010 Jack Deslippe

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.commonsware.android.EMusicDownloader"
    android:icon="@drawable/icon"
    android:installLocation="auto"
    android:versionCode="200"
    android:versionName="3.1.2">

    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="11" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.touchscreen"
        android:required="false"/>
    <uses-feature android:name="android.hardware.wifi"
        android:required="false"/>
    <uses-feature android:name="android.hardware.sensor.accelerometer"
        android:required="false"/>

    <supports-screens android:smallScreens="true"
        android:normalScreens="true" 
        android:largeScreens="true" 
        android:anyDensity="true" 
    />

    <application android:label="@string/app_name" android:icon="@drawable/icon">

	<service android:name="Downloader"/>

        <activity android:name="SingleBook"
            android:theme="@style/MyTheme"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="EditPreferences"
            android:theme="@style/MyTheme"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="SingleAlbum"
            android:theme="@style/MyTheme"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="SingleArtist"
            android:theme="@style/MyTheme"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="SearchWindow"
            android:theme="@style/MyTheme"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="SearchListWindow"
            android:theme="@style/MyTheme"
            android:hardwareAccelerated="true"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="ReviewList"
            android:theme="@style/MyTheme"
            android:hardwareAccelerated="true"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="Browse"
            android:theme="@style/MyTheme"
            android:hardwareAccelerated="true"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="BrowseSubcategory"
            android:theme="@style/MyTheme"
            android:hardwareAccelerated="true"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="BrowseFavorites"
            android:theme="@style/MyTheme"
            android:hardwareAccelerated="true"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="WebWindow"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="WebWindowBrowse"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="MainWindow"
            android:theme="@style/MyTheme"
            android:hardwareAccelerated="true"
            android:configChanges="keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.jd.oifilemanager.filemanager.FileManagerActivity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.jd.oifilemanager.action.PICK_FILE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.jd.oifilemanager.action.PICK_FILE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.jd.oifilemanager.action.PICK_DIRECTORY" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.jd.oifilemanager.action.PICK_DIRECTORY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="DownloadManager"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/MyTheme"
            android:launchMode="singleTask"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE"/>
   		<data android:scheme="http" android:host="*" android:pathPattern=".*\\.emx.*"/>
                <data android:scheme="https" android:host="*" android:pathPattern=".*\\.emx.*"/>
                <data android:scheme="content" android:host="*" android:pathPattern=".*\\.emx.*"/>
                <data android:scheme="file" android:host="*" android:pathPattern=".*\\.emx.*"/>
            </intent-filter>
        </activity>

    </application>

</manifest> 
